<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sguadmissor</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    
        <mapping class="com.sgu.admissor.entity.BangQuyDoi"/>
        <mapping class="com.sgu.admissor.entity.DiemCong"/>
        <mapping class="com.sgu.admissor.entity.DiemThi"/>
        <mapping class="com.sgu.admissor.entity.Nganh"/>
        <mapping class="com.sgu.admissor.entity.NganhToHop"/>
        <mapping class="com.sgu.admissor.entity.NguyenVong"/>
        <mapping class="com.sgu.admissor.entity.Role"/>
        <mapping class="com.sgu.admissor.entity.RoleDetail"/>
        <mapping class="com.sgu.admissor.entity.RoleDetailId"/>
        <mapping class="com.sgu.admissor.entity.SysFunction"/>
        <mapping class="com.sgu.admissor.entity.ThiSinh2025"/>
        <mapping class="com.sgu.admissor.entity.ToHop"/>
        <mapping class="com.sgu.admissor.entity.User"/>
    
    </session-factory>
</hibernate-configuration>