<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sguadmissor</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    
        <mapping resource="BangQuyDoi.hbm.xml"/>
        <mapping resource="DiemCong.hbm.xml"/>
        <mapping resource="DiemThi.hbm.xml"/>
        
        <mapping resource="Nganh.hbm.xml"/>
        <mapping resource="NganhToHop.hbm.xml"/>
        <mapping resource="NguyenVong.hbm.xml"/>
        <mapping resource="ToHopMonThi.hbm.xml"/>
        
        <mapping resource="ThiSinh2025.hbm.xml"/>
    
        <mapping resource="User.hbm.xml"/>
        <mapping resource="SysFunction.hbm.xml"/>
        <mapping resource="Role.hbm.xml"/>
        <mapping resource="RoleDetail.hbm.xml"/>
    </session-factory>
</hibernate-configuration>